<html>
<head>
  <title>Cut the Picture</title>
  <script src="jquery.js"></script>
  <style>
    body {
      margin: 0 auto;
      font-family: arial;
    }

    .container {
      margin: 0 auto;
      width: 450px;
    }


    .details {
      margin-bottom: 20px;
      margin-left: 135px;
    }

    .timer-wrapper {
      background: #F5B800;
      border-radius: 3px;
      padding: 5px;
      color: #fff;
    }

    .timer {
      font-weight: bold;
    }

    .score {
      font-weight: bold;
      color: #FFF;
    }

    .score-wrapper {
      background: #3DCC00;
      color: #fff;
      border-radius: 3px;
      padding: 5px;
    }

    h2 {
      text-decoration: underline;
      margin-left: -20px;
    }

    canvas {
      box-shadow: 0px 0px 5px #888;
      border: 1px solid #DDD;
      border-radius: 4px;
    }

    address {
      margin-bottom: 10px;
      text-align: center;
    }

    footer {bottom: 0px;}
  </style>
  <script>
    $(document).ready(function(){
  
      window.time_up = false;
      window.updateTime = function() {
        if (window.time_up == true) return(true);
        if (parseInt($(".timer").html(), 10) == 1) window.time_up = true;
        $(".timer").html(parseInt($(".timer").html(), 10) - 1);
      }
      window.setInterval("updateTime()",1000);

      window.flickr_images = [<%= @images %>];
      window.image_key = -1;
      window.score = 0;
      window.start_position = null;
      window.started_movement = false;

      var paper = document.getElementById('paper');
      window.context = paper.getContext("2d");


     function load_next_image() {
        window.context.clearRect ( 0 , 0 , 400 , 400 );
        if(window.flickr_images.length == (window.image_key) || (window.time_up == true))
        {
            alert("Game over Bobski! you scored "+$(".score").html() + " points");
            window.location = "/";
        }
        var img=new Image();
        window.image_key += 1;
        if(window.flickr_images[window.image_key] == undefined)
        {
            alert("Game over Bobski! you scored "+$(".score").html() + " points");
            window.location = "/";
        }

        img.src=window.flickr_images[window.image_key];
        img.onload = function() { 
          context.drawImage(img,0,0);
          window.image_loaded = true;
          context.strokeStyle="#FF0000";
          context.beginPath();
          var line = new_line();
          context.moveTo(line[0], line[1]);
          context.lineTo(line[2], line[3]);
          context.lineWidth = '10';
          context.closePath();
          context.stroke();
        };
     }

     function correct_angle(x, y) {
        var line1 = window.start_line;
        var line2 = [window.start_position[0], window.start_position[1], x, y];
        var slope1 = (line1[1] - line1[3]) / (line1[0] - line1[2]);
        var slope2 = (line2[1] - line2[3]) / (line2[0] - line2[2]);
        var angle = Math.atan((slope1 - slope2) / (1 - (slope1 * slope2)));
        if (Math.abs(angle) < 0.3) return true;
        return false;
     }


      $(document).mousemove(function(e){
        if(window.image_loaded==true){
          if(window.start_position == null)
            window.start_position = [e.pageX, e.pageY];

          console.log((Math.abs(window.start_position[0] - e.pageX)));

          if((Math.abs(window.start_position[0] - e.pageX) > 50) && Math.abs(window.start_position[1] - e.pageY) > 50)
          {
            if(correct_angle(e.pageX, e.pageY)==true)
            {
              window.score = window.score + 1;
              $(".score").html(window.score);
              console.log("correct angle", window.score);
            }
            else {
              console.log("wrong angle");
            }

            window.image_loaded   = false;
            window.start_position = null;

            load_next_image();
            return;
            // load another image
          }
          
        }
      });

      function new_line(){
        window.start_line = [0, Math.round(Math.random()*400), 399, Math.round(Math.random()*400)];
        return window.start_line;
      }

      load_next_image();

    });
  </script>
</head>
<body>
   <div class="container">
     <h1 align="center">Cut the Picture</h2>
     <address>Swipe your finger on the trackpad, in the direction of the red line to cut</address>
      <div class="details">
       <span class="timer-wrapper">Time: <span class="timer">25</span></span>
       <span class="score-wrapper">Score: <span class="score">0</span></span>
      </div>
     <canvas id="paper" width="400" height="400"></canvas>
     <footer>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout &quot;Cut the Picture&quot; simple 2hr crappy hack on #openhackindia2012" data-via="HashNuke" data-hashtags="CutThePicture">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> and <small><a href="http://twitter.com/HashNuke">@HashNuke</a> made this.</small>
     </footer>
   </div>
</body>
</html>